# Get these from your API settings: https://open-models-platform.com/dashboard/project/_/settings/api

NEXT_PUBLIC_OPENMODELS_URL=your-openmodels-url
NEXT_PUBLIC_OPENMODELS_ANON_KEY=your-openmodels-anon-key
